@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@400;600;700;800&display=swap");

body {
  font-family: "Cairo", "Segoe UI", sans-serif;
}

[dir="rtl"] {
  font-family: "Cairo", "Segoe UI", sans-serif;
}
